{erl_opts, [debug_info]}.
{cover_enabled, true}.

{deps, [
        % {cre,      "0.1.8"},
        {cre, {git, "https://github.com/joergen7/cre.git",
                     {branch, "dev"}}},
        {getopt,   "1.0.1"},
        {lib_conf, "0.1.5"}
       ]}.

{escript_incl_apps, [cre, gen_pnet, getopt, jsone, lib_combin, lib_conf]}.

{escript_emu_args, "%%! -connect_all false -sname cf_client\n"}.

{dialyzer, [{plt_extra_apps, [cre]}]}.