{erl_opts, [debug_info]}.

{deps, [
        {cre,       {git, "https://github.com/joergen7/cre.git",
                          {branch, "dev"}}},
        {cf_worker, {git, "https://github.com/joergen7/cf_worker.git",
                          {branch, "master"}}}

       ]}.


{cover_enabled, true}.
{dialyzer, [{plt_extra_apps, [cre]}]}.